<!DOCTYPE html>
<html lang="en">

<head>

    {{>headerlinks}}

    <title>Error | Weather App</title>

    <link rel="stylesheet" href="css/404.css">
</head>

<body class="bg-purple">
    {{>navbar}}


    <div class="central-body container ">
        <!-- <img class="image-404 spin-earth-on-hover" src="http://salehriaz.com/404Page/img/404.svg" width="300px"> -->
        <h1 class="txt">404</h1>
        <p class="msg">THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST</p>
        <a href="/index" class="btn btn-success btn-large" target="_blank">GO BACK HOME</a>
        {{!-- btn-go-home --}}
    </div>
    <div class="objects">
        <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
        <div class="earth-moon">
            <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
            <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
        </div>
        <div class="box_astronaut">
            <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>

    </div>

    </div>

    {{>footer}}
</body>

</html>