<!DOCTYPE html>
<html lang="en">

<head>
    
    {{>headerlinks}}
    
    <title>About Us | Weather App</title>
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left Side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                       <img class="w-50  img-shadow" src="images/BossWithBaby.png" alt="">
                    </div>
                    <!-- Right Side  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am a <span class="different-clr">Mern Stack Developer</span> Blogger and a Freelancer</h1>
                        <a href="#"><button class="btn btn-success">About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>